<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yd.web.mappers.UserMapper">
    <select id="getUserById" parameterType="java.lang.Integer" resultType="com.yd.web.beans.User">
      SELECT
          id,
          username,
          create_time,
          DATE_FORMAT(create_time,"%Y-%c-%d %H:%i:%S") as timeStr
      FROM t_User
      WHERE
          id=#{id}
    </select>

    <select id="loginIn" parameterType="java.lang.String" resultType="com.yd.web.beans.User">
        SELECT
            id,
            username,
            password,
            create_time,
            DATE_FORMAT(create_time,"%Y-%c-%d %H:%i:%S") as timeStr
        FROM t_User
        WHERE
          username=#{username}
        AND
          password=#{pwd}
    </select>
</mapper>